body {
  margin: 0;
}

header {
  background-color: #fee33f;
  text-align: center;
  padding-bottom: .25em;
}

h1 {
  font-family: 'Sigmar One', cursive;
  color: #b13153;
  font-size: 2.5em;
  margin: 0;
}

ol {
  margin: 0.5em;
  padding: 0;
}

nav li {
  display: inline-block;
  background-color: #b1a129;
  padding: .75em;
  border-radius: .5em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav li:hover {
  background-color: #ca3b66
}

main {
  margin: .75em
}

p {
  line-height: 1.25
}

b, em {
  font-style: normal;
  font-weight: bold;
}

blockquote {
  font-family: georgia, serif;
  font-style: italic;
  text-align: center;
  color: #b1a129;
  line-height: 1.75em;
}

blockquote span {
  font-size: 2em;
  display: block;
}

h2 {
  font-family: 'Sigmar One', cursive;
  color: #b13153;
  font-size: 1.5em;
  border-top: 3px solid #fee33f;
  padding-top: 1em;
}

img {
  width: 100%;
}

figure {
  background-color: #fffce1;
  border: 2px solid;
  border-color: #b1a129;
  border-radius: .5em;
  padding: .5em .5em .5em .5em;
  margin: 0;
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
}

h3 {
  font-family: 'Sigmar One', cursive;
  color: #b13153;
  font-size: 1.25em;
}

.italics {
  font-style: italic;
}

dl {
  line-height: 1.5em;
}

dd {
  margin: 0;
}

dt {
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: .8em;
  background-color: #fee33f;
  padding: 2em;
}

footer a {
  color: #b13153;
  font-style: normal;
}
